@font-face {
    font-family: 'Norwester';
    src: url("fonts/norwester/norwester.otf");
}

@font-face {
    font-family: 'Oxygen';
    src: url("fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
    font-family: 'FooterFont';
    src: url("fonts/Oxygen/Oxygen-Light.ttf")
}

html {
    background: #0ec9d1
}

* {
    font-family: 'Oxygen';
    color: black;
}

h1, h2 {
    font-family: 'Norwester';
}

h1 {
    font-size: 50px;
    text-align: center;
}

ul li {
    list-style-type: "- ";
}

#list li {
    list-style-type: circle;
}

#api_li li {
    list-style-type: decimal;
}

a:hover {
    text-decoration: none;
}

/* https://stackoverflow.com/questions/1899772/new-window-icon-for-web-accessibility  */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

section {
    padding-left: 50px;
}

footer {
    font-family: 'FooterFont';
    text-align: center;
    font-size: 12px;
}
